@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.col{
  transition: 1s;
}

/*main background and text color*/
body{
  background:linear-gradient(rgb(66, 66, 66),rgb(35, 35, 35));
  background-position: center;
  background-repeat: no-repeat;
  color: #eaeaea;
  font-family: 'Ubuntu', sans-serif;
  min-height: 100vh;
}

/*button styling*/
.btn{
  background-color: #db810a !important;
  border-color: #db810a !important;
  border-radius: 7px !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
}

.btn:hover{
  background-color: #ef8e0e !important;
  border-color: #ef8e0e !important;
}

#titleBar{
  text-align: center;
}

/*homearrow styling*/
#homeButtonHolder{
  padding: 2em;
}

#homeArrow{
  width: 4em;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

img:hover {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

/*checkbox styling*/
.checkbox-orange[type="checkbox"].filled-in:checked + label:after{
  border: 2px solid #db810a !important;
  background-color: #db810a !important;
}

label{
  line-height: 120% !important;
  transition: .25s;
}

.checkbox-orange[type="checkbox"].filled-in:checked + label{
  color: #db810a !important;
  transition: .5s;
}
